{% extends "process/nm2-base.html" %}
{% load nm %}
{% load i18n %}

{% block content %}

<h1>{% trans "Approve" %} {{person}} / {{process.applying_for|desc_status}}</h1>

<table class="table table-sm">
  {% for key, value in rt_content %}
  <tr><th>{{key}}</th><td><tt>{{value}}</tt></td></tr>
  {% endfor %}
</table>

<h2>{% trans "Unsigned statement" %}</h2>

<p>{% trans "To sign the contents of the clipboard:" %} <br><tt>xclip -o | gpg --clearsign --default-key {{user.fpr}} | xclip</tt></p>

<textarea cols="80" rows="25">
{{text|safe}}
</textarea>

<h2>{% trans "Signed statement" %}</h2>

<form action="{{request.build_absolute_uri}}" method="POST">{% csrf_token %}
  <p><button class="btn btn-primary" type="submit">{% trans "Approve" %}</button></p>
  <p>{{form.signed.errors}}</p>
  {{form.signed}}
</form>

{% endblock %}
