{% extends "process/nm2-base.html" %}
{% load nm %}
{% load i18n %}

{% block content %}

<h1>{% trans "Cancel process" %}</h1>

{% if request.user.is_anonymous %}

{% blocktrans %}To access the page you need to authenticate yourself with the 
<a href="https://wiki.debian.org/DebianSingleSignOn#Documentation_for_Users">Debian Single SignOn</a>
system. Follow the link for instructions.{% endblocktrans %}

{% else %}

{% if process.applying_for == "dd_e" %} 
  <p>{% blocktrans with started_on=process.started|date:"F d, Y" person_ldap_uid=process.person.ldap_fields.uid %}On {{started_on}} the
<a href="https://wiki.debian.org/qa.debian.org/MIATeam">Missing In Action</a>
team sent a "Where Are Thou?" ping message to <tt>{{person_ldap_uid}}</tt>
communicating the intention of closing the account after some time.{% endblocktrans %}</p>
  
  <p>{% blocktrans with person_fullname=person.fullname %}If you are {{person_fullname}} and consider
yourself still active, you can use this page to let the MIA team know.{% endblocktrans %}</p>

  {% if not process.person.fpr %}
  
  <p>{% blocktrans %}You do not seem to have a valid OpenPGP key at the moment, please contact
<a href="https://keyring.debian.org/">the Keyring team</a> to have again a key
in the Debian keyring.{% endblocktrans %}</p>
  
  {% endif %}
  
  <p>{% blocktrans %}Please type below a message for the MIA team describing
what you do or are going to do in Debian. The text will only be visible to
Front Desk / MIA team unless you tick the box to make it public.{% endblocktrans %}</p>
{% else %}
  <p>{% blocktrans with applying_for=process.applying_for|desc_status started_on=process.started|date:'F d, Y' %}By submitting this form you can cancel the process for
becoming {{ applying_for }} started on {{started_on}}.{% endblocktrans %}</p>
{% endif %}


<form id="cancel" action="{{request.build_absolute_uri}}" method="POST">{% csrf_token %}
{{form.non_field_errors}}
  <p>
  {{form.statement.errors}}
  {{form.statement.label_tag}}<br>
  {{form.statement}}
  </p>
  <p>
  {{form.is_public.errors}}
  {{form.is_public.label_tag}}
  {{form.is_public}}
  </p>
  <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
</form>

{% endif %}

{% endblock %}

