{% load i18n %}
{% load nm %}

{% if edit and not process.frozen %}
<p class="alert alert-warning" role="alert">{% blocktrans %}Approving a process without having frozen it before is not
a good idea.{% endblocktrans %}</p>
{% endif %}

<p>{% blocktrans with person_get_absolute_url=person.get_absolute_url process_applying_for_desc=process.applying_for|desc_status %}This page lists the approval statements for
   <a href="{{person_get_absolute_url}}">{{person}}</a>
   to become <i>{{process_applying_for_desc}}</i>. Only statements from
   FrontDesk and Debian Account Managers are valid for this requirement to be
   satisfied. Usually, this requirement is filled last, after the rest of the
   process is done.{% endblocktrans %}</p>

{% if process.applying_for == "dd_nu" or process.applying_for == "dd_u" %}
{% if not visitor.am.is_dam and not visitor.am.is_fd  %}
<p>{% blocktrans %}This process being for {{person}} to become a Debian Developer, if the
approval is made by a FrontDesk Member, it won't become effective immediately.
A grace period of 7 days will be observed before the process going further (RT
ticket submission for the keyring changes and account creation).{% endblocktrans %}</p>
{% endif %}
{% endif %}

{% if edit %}
<p>{% blocktrans with person_get_absolute_url=person.get_absolute_url process_applying_for_desc=process.applying_for|desc_status %}If you wish to approve <a
    href="{{person_get_absolute_url}}">{{person}}</a>'s process to become
<i>{{process_applying_for_desc}}</i>, please sign and post the following
text:{% endblocktrans %}
<div><textarea cols="80" rows="25">
{{ rt_ticket_content }}
</textarea></div>

{% if process.applying_for == "dd_nu" or process.applying_for == "dd_u" %}
{% if not visitor.am.is_dam %}
{% blocktrans %}Note that the RT ticket associated with this approval won't be sent before a
week as you're approving a DD process and not a DAM member.{% endblocktrans %}
{% endif %}
{% endif %}
</p>
{% endif %}
