{% extends "process/nm2-base.html" %}
{% load nm %}

{% block content %}

<h1>Draft RT ticket for {{person}} / {{process.applying_for|desc_status}}</h1>

<textarea rows="70" cols="80">
From: {{user.fullname}} &lt;{{user.email}}&gt;
To: {{mail_to}}{% if process.applying_for == "dm" %}
Cc: Debian NM Front Desk &lt;nm@debian.org&gt;,
	{{person.fullname}} &lt;{{person.email}}&gt;,
	{{process.archive_email}}
Reply-To: Debian NM Front Desk &lt;nm@debian.org&gt;
{% else %}
Cc: Debian Account Managers &lt;da-manager@debian.org&gt;,
	{{person.fullname}} &lt;{{person.email}}&gt;,
	{{process.archive_email}}
Reply-To: Debian Account Managers &lt;da-manager@debian.org&gt;
{% endif %}Subject: {{subject}}
{% spaceless %}
{% if user.uid == "joerg" %}
Organization: Goliath-BBS
Gcc: nnimap+gkar:Sentmail.DAM
--text follows this line--
<#secure method=pgp mode=sign>
{% endif %}
{% endspaceless %}
{{text|safe}}
</textarea>

{% endblock %}
