{% extends "nm2-base.html" %}
{% load i18n %}
{% load nm %}

{% block content %}

<h1 class="d-flex">
  {% if picture %}
  <img class="mr-2 personpic" src="{{picture}}"></img>
  {% endif %}
  {{person.fullname}}
</h1>

<table class="table table-sm">
    <tr><th>{% trans "Account name" %}</th><td>{{person.ldap_fields.uid|default:"None chosen yet"}}</td></tr>
    <tr><th>{% trans "OpenPGP fingerprint" %}</th><td>{{person.fpr|fingerprint}}{% if "edit_fpr" in visit_perms %} (<a id="edit_fpr_link" class="btn btn-sm btn-outline-primary" href="{% url 'fprs:person_list' key=person.lookup_key %}">manage</a>){% endif %}</td></tr>
    {% if "edit_email" in visit_perms %}
    <tr><th>{% trans "Contact email" %}</th><td>{{person.email}} <a class="btn btn-sm btn-outline-primary" href="{% url 'person:edit_email' key=person.lookup_key %}">{% trans "edit" %}</a></td></tr>
    {% endif %}
    <tr><th>{% trans "Status" %}</th>
        <td>{{person|desc_status}}
          {% if not person.status_description %}
            {% if person.status == STATUS_DC %}{% trans "on nm.debian.org since" %}{% else %}{% trans "since" %}{% endif %}
            {{person.status_changed|date:"Y-m-d"}}
            {% if person.changed_before_data_import %}
            {% trans "(changed before data import)" %}
            {% endif %}
          {% endif %}
          {% if "request_new_status" in visit_perms and person.possible_new_statuses %}
            <a class="btn btn-sm btn-outline-primary" href="{% url 'process_create' key=person.lookup_key %}">{% trans "request new status" %}</a>
          {% endif %}
    {% if show_new_change_warning %}
    <br>
    <b>{% trans "Note:" %}</b> {% trans "the change happened recently and there might still be work to be done to finish activating the account. Please do not assume everything works until you get a mail from Debian System Administrators telling you that your account has been created." %}
    {% endif %}
    </td></tr>
    {% if person.pending %}
    {% url 'public_newnm_resend_challenge' key=person.lookup_key as public_newnm_resend_challenge %}
    <tr><th>{% trans "Pending" %}</th><td>{% blocktrans with person_expires=person.expires %}This
is a new entry that requires confirmation before {{person_expires}}. Click
<a href="{{public_newnm_resend_challenge}}">here to send the email
challenge again</a>. In case of problems please mail nm@debian.org{% endblocktrans %}</td></tr>
    {% endif %}
    {% if am %}
    <tr>
        <th>{% trans "Application manager" %}</th>
        <td>
            {% if am.is_am %}{% trans "active," %}{% endif %}
            {% if am.is_fd %}{% trans "fd," %}{% endif %}
            {% if am.is_dam %}{% trans "dam," %}{% endif %}
            {% if am.is_am_ctte %}{% trans "am ctte," %}{% endif %}
            {{count_processed}} {% trans "applicants processed" %}
            {% if user.am == am or user.is_superuser %}
            <a class="btn btn-sm btn-outline-primary" href="{% url 'person:amprofile' key=am.person.lookup_key %}"><span class="fa fa-gear"></span> {% trans "preferences" %}</a>
            {% endif %}
            {% if user.is_superuser %}
            <a class="btn btn-sm btn-outline-danger" href="{% url 'admin:backend_am_change' am.id %}"><span class="fa fa-microchip"></span> {% trans "admin" %}</a>
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% if "fd_comments" in visit_perms and person.fd_comment %}
    <tr id="view_person_fd_comment"><th>{% trans "FD comments" %}</th><td>{{person.fd_comment}}</td></tr>
    {% endif %}
</table>

{% if "edit_bio" in visit_perms %}
<a id="edit_bio_link" class="btn btn-sm btn-primary" href="{% url 'person:edit_bio' key=person.lookup_key %}">{% trans "Edit personal information" %}</a>
{% endif %}
{% if "edit_ldap" in visit_perms %}
<a id="edit_ldap_link" class="btn btn-sm btn-primary" href="{% url 'person:edit_ldap' key=person.lookup_key %}">{% trans "Edit LDAP information" %}</a>
{% endif %}
{% if am %}
{% if user == person or user.is_am or user.is_superuser %}
<a class="btn btn-sm btn-primary" id="edit_am_link" href="{% url 'person:amprofile' key=person.lookup_key %}">{% trans "Edit AM information" %}</a>
{% endif %}
{% endif %}

<h2 class="mt-3">{% trans "Short Biography" %}</h2>

<div class="personbio">
{% if person.bio %}
  <div class="expanded">
    {{bio_html|safe}}
  </div>
  <div class="collapsed">
    {{person.bio|truncatechars:128}}{% if person.bio|length > 128 %} <span class="btn btn-sm btn-info expander"><span class="fa fa-expand"></span> {% trans "Expand" %}</span>{% endif %}
  </div>
{% else %}
  {% trans "(missing)" %}
{% endif %}
</div>

<h2 class="mt-3">{% trans "Personal history" %}</h2>

{% include "process/process_list.html" with procs=processes2 proctable_archive=True %}

{% include "public/person_process_table.html" with p=p processes=processes only %}

{% if adv_processes or adv_processes2  %}

<h2 class="mt-3">{% trans "Advocate history" %}</h2>

{% include "process/process_list.html" with procs=adv_processes2 proctable_archive=True %}

{% include "public/person_process_table.html" with p=p processes=adv_processes only %}

{% endif %}

{% if am %}

<h2 class="mt-3">{% trans "AM history" %}</h2>

{% include "process/process_list.html" with procs=am_processes2 proctable_archive=True %}

{% include "public/person_process_table.html" with p=p processes=am_processes only %}

{% endif %}

{% if audit_log %}

<h2>{% trans "Audit log" %}</h2>

<table id="audit_log" class="table table-small">
  <thead>
    <tr>
      <th>{% trans "Date" %}</th>
      <th>{% trans "Author" %}</th>
      <th>{% trans "Notes" %}</th>
      <th>{% trans "Changes" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for e in audit_log %}
    <tr>
      <td>{{e.logdate|date:"Y-m-d H:i:s"}}</td>
      <td><a href="{{e.author.get_absolute_url}}">{{e.author}}</a></td>
      <td>{{e.notes}}</td>
      <td>
        <ul>
        {% for field, old, new in e.changes %}
        <li>{{field}}: {{old}} → {{new}}</li>
        {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}
