<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico">

    {% if assets %}
    {% for a in assets.all_css %}<link rel="stylesheet" href="{{a.uri}}" />
    {% endfor %}
    {% for a in assets.all_js %}<script src="{{a.uri}}"></script>
    {% endfor %}
    {% endif %}

    {% block head %}
    <title>{% block title %}Debian base template{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    <nav id="main-navbar1" class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="{% block navbar_brand_url %}https://www.debian.org/{% endblock %}"><img src="{{STATIC_URL}}/debian/img/openlogo-50.png"></img></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% block nav_left_items %}
          {% endblock %}
        </ul>

        {% block nav_searchbox %}
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% endblock %}

        {% block nav_right %}
        <ul class="navbar-nav navbar-right">
          {% block nav_right_items %}
          {% endblock %}
        </ul>
        {% endblock %}
      </div>
    </nav>
    {% endblock %}

    {% block page_lead %}
    {% endblock %}

    {% block breadcrumbs %}
    {% endblock %}

    <div id="main-content" class="container-fluid mt-2">
    {% block content %}
    {% endblock %}
    </div>

    <footer id="main-footer" class="card mt-3">
    {% block footer %}
    {% endblock %}
    </footer>
  </body>
</html>
